*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Righteous', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /*O body pega 100% da altura do viewport*/
    background-color: #c7cdd3;
}

#GameBoard{
    max-width: 700px;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr;
    gap: 20px;
}


.card{
    position: relative;
    width: 150px;
    height: 150px;
    transform-style: preserve-3d; /*Serve para o css entender que o objeto é 3d*/
    transition: transform .5s;
}

.card_front{
    transform: rotateY(180deg);
    background-color: #101c2c;
}

.card_back{
    color: #101c2c;;
    background-color: #05c3ff;
    font-size: 30px;
 

}


.flip{
    transform: rotateY(180deg);
}

.card_back, .card_front{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; /*eixo x*/
    align-items: center; /*eixo y*/
    border-radius: 20px;
    box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.45);
    backface-visibility: hidden; /*Toda face que estiver investida ficará invisível*/
}


#gameOver{
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
}

#restart{
    padding: 20px;
    font-size: 20px;
    background-color:yellow;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
}


@media (max-width: 800px) {
    #GameBoard{ 
       margin-top: 200px;
       overflow: auto;
    }      
}